NEXT_PUBLIC_API_GATEWAY_URL='https://api-dev.cvbuilder.co.za/cvbuilder'
NEXT_PUBLIC_COGNITO_DOMAIN='https://cvbuilder-dev.auth.eu-west-1.amazoncognito.com'
NEXT_PUBLIC_COGNITO_APP_CLIENT_ID='****'
NEXT_PUBLIC_BLOG_URL='https://blog-dev.cvbuilder.co.za'
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY='pk_test_***'